
<!doctype html>
<head>
<title>Upload new File</title>
<!-- - ->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!- -   -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- - ->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!- -  -->

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>


<script type="text/javascript" charset="utf-8">
    var socket;
    var GrblState = "IDLE";  // Idle / Running
    var moveStateFine = false;
    

    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port + '/sock');
        socket.on('connect', function() {
            socket.emit('joined', {});
            console.log('Websocket connected!');
            getSerialPorts();
            getBaudrates();
            getCameras();
            setInterval(mustPollPosition, 500);
            registerKeyDown();
        });
        socket.on('position', function(data) {
            //console.log('Data='+data);
            //console.log('grblState =' + JSON.parse(data).grblState);

            switch(JSON.parse(data).grblState){
              case "Idle":
                GrblState = "IDLE";
                break;
              case "Run":
                GrblState = "RUN";
                break;
              case "Jog":
                GrblState = "JOG";
            }
            //console.log(GrblState);
            document.getElementById("xpos").innerHTML = JSON.parse(data).X.toFixed(3);
            document.getElementById("ypos").innerHTML = JSON.parse(data).Y.toFixed(3);
            document.getElementById("zpos").innerHTML = JSON.parse(data).Z.toFixed(3);
        });
    });

    function registerKeyDown(){
      document.addEventListener('keydown', jog);
      console.log("registered key Down")
    }


    function jog(e) {


      //console.log("in jog")
      var checkBox = document.getElementById("chkCanJog");
      if(checkBox.checked){
        //console.log("checked");
        // have we hit the Space Bar ?
        if(e.code == "Space"){
          if(moveStateFine){
            moveStateFine = false;
            lbl = "Coarse";
          } else {
            moveStateFine = true; 
            lbl = "Fine";
          }
          document.getElementById("moveState").innerHTML = lbl;
          
        }
        //console.log("moveStateCoarse = " + moveStateCoarse);
        //log.innerHTML = `Shift: ${e.shiftKey} </br> Alt: ${e.altKey} </br> code : ${e.code}`;

        // filter out non arrow keys
        switch(e.code){
          case "ArrowLeft":
          case "ArrowRight":
          case "ArrowUp":
          case "ArrowDown":
            // activate getPos
            GrblState = "JOG";
            //console.log("jogging code " + e.code + " shift " + e.shiftKey + " state " + moveStateFine);
            socket.emit('jog', e.code, e.shiftKey, moveStateFine, function(data){
              //console.log('jog returned!');
              //console.log(data);
            });
            break;
        }
        return false;
      }
    }

    function update_pos() {
        socket.emit('get3dPos', {}, function(data) {
            //console.log('get3dPos returned!');
            //console.log(data);
        });
    }
    

    function connect_serial() {
        var dropdown = document.getElementById("cmbComPort");
        var selectedPort = dropdown.options[dropdown.selectedIndex].value;
        var dropdownBaud = document.getElementById("cmbBaud");
        var baud = dropdownBaud.options[dropdownBaud.selectedIndex].value;
        console.log('D='+selectedPort);
        if ( dropdown.selectedIndex != 0 ) {
            socket.emit('openSerial', selectedPort ,baud, function(data) {
                console.log('Serial status:');
                console.log(data);
                if (data == true) {
                    console.log("Change button to disconnect");
                    document.getElementById("btnDisconnect").style.display = "inline";
                    document.getElementById("btnConnect").style.display = "none";
                    //console.log("enable canJog");
                    //document.getElementById("canJog").disabled = false;
                    document.getElementById("cmbComPort").disabled=true;
                    document.getElementById("cmbBaud").disabled=true;
                    document.getElementById("btnCanJog").disabled=false;
                    update_pos();
                }
            });
          }
        }

    function toggleCanJog(setter){
      console.log("in toggle");
      btn = document.getElementById("btnCanJog");
      if(btn.innerText == "Jogging Off" ){
        enableJog();
      } else {
        disableJog();
      }
    }

    function disableJog(){
      btn = document.getElementById("btnCanJog");
      chk = document.getElementById("chkCanJog");
      btn.style.backgroundColor = "lightgray";
      btn.innerText = "Jogging Off";
      chk.checked=false;
    }

    function enableJog(){
      // only toggle on if serial Connected 
      if (document.getElementById("btnConnect").style.display == "none") {
        btn = document.getElementById("btnCanJog");
        chk = document.getElementById("chkCanJog");
        btn.style.backgroundColor = "lightgreen";
        btn.innerText="Jogging On";
        chk.checked=true;
      }
    }

    function disconnect_serial() {
        socket.emit('closeSerial', function(data) {
            console.log('Serial status:');
            console.log(data);
            if (data == true) {
                console.log("Change button to disconnect");
                document.getElementById("btnConnect").style.display = "inline";
                document.getElementById("btnDisconnect").style.display = "none";
                document.getElementById("cmbComPort").disabled=false;
                document.getElementById("cmbBaud").disabled=false;
                //console.log("disable canJog");
                //document.getElementById("canJog").disabled = true;
                //toggleCanJog(0) //wrong... This toggle the jog on or off, not the button
                btn = document.getElementById("btnCanJog");
                btn.innerText = "Jogging Off" //force to known state
                disableJog();

            }
        });
    }
        
    function getSerialPorts() {
        socket.emit('getSerialPorts', function(data) {
            console.log('getSerialPorts:');
            console.log('Data='+data);

            dropdown = $('#cmbComPort');
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose serial port</option>');
            dropdown.prop('selectedIndex', 0);
            for (i in data) {
              console.log('DataA='+data[i]);
              dropdown.append($('<option></option>').attr('value', data[i]).text(data[i]));
            }
        });
      }

    function getBaudrates() {
      console.log('getBaudrates:');
      dropdown = $('#cmbBaud');
      dropdown.empty();
      dropdown.prop('selectedIndex', 1);
      dropdown.append($('<option></option>').attr('value', 250000).text(250000));
      dropdown.append($('<option selected="true"></option>').attr('value', 115200).text(115200));
      dropdown.append($('<option></option>').attr('value', 57600).text(57600));
      dropdown.append($('<option></option>').attr('value', 38400).text(38400));
      dropdown.append($('<option></option>').attr('value', 9600).text(9600));
    }

    function mustPollPosition() {
      //console.log('check mustPollPosition');
      var checkBox = document.getElementById("chkCanJog");
      //console.log("mustPoll = " + checkBox.checked + " Grblstate = " + GrblState)
      if ((checkBox.checked == true && GrblState == "JOG") || GrblState == "RUN" ){
          //console.log("moving getting pos")
          update_pos();
      }
    }
  
    function getCameras() {
      console.log('getCameras called');
      var elem = document.getElementById("camfeed");
      if (elem != null) {
          disable_cam();
      }
      socket.emit('getCameras', function(data) {
          console.log('getCameras:');
          console.log('Data='+data);

          dropdown = $('#cmbCameras');
          dropdown.empty();
          dropdown.append('<option selected="true" disabled>Choose Camera</option>');
          dropdown.prop('selectedIndex', 0);
          for (i in data) {
            console.log('DataC='+data[i]);
            dropdown.append($('<option></option>').attr('value', data[i]).text(data[i]));
          }
      });
    }
    

    function enable_cam() {
      console.log('enable_cam() called');
      var p = document.getElementById('camdiv');
      var newElement = document.createElement('img');
      newElement.setAttribute('id', 'camfeed');
      newElement.setAttribute('src', "{{ url_for('main.video_feed') }}");
      newElement.setAttribute('width', "320");
      newElement.setAttribute('height', "240");
      p.appendChild(newElement);  
      document.getElementById("btnCamOff").style.display = "inline";
      document.getElementById("btnCamOn").style.display = "none";
      var dropdown = document.getElementById("cmbCameras");
      var selectedCam = dropdown.options[dropdown.selectedIndex].value;
      if ( dropdown.selectedIndex != 0 ) {
            socket.emit('openCamera', selectedCam, function(data) {
                console.log('Camera opened:');
                console.log(data);
                if (data == true) {
                    console.log("Change button to disconnect");
                }
            });
          }
    }
    
    function disable_cam() {
      console.log('disable_cam() called');
      var elem = document.getElementById("camfeed");
      if (elem != null) {
          elem.remove();
      }
      document.getElementById("btnCamOn").style.display = "inline";
      document.getElementById("btnCamOff").style.display = "none";
      socket.emit('closeCamera', function(data) {
          console.log('closeCamera:');
          console.log('Data='+data);
      });
    }


    // add Option adds Command text to Select below 

    function addOption() {
      var ss = document.getElementById("sm1");
      var opt = document.createElement('option');
      var txt = document.getElementById("txtGcode")
      var cntnt = txt.value;
      GrblState = "RUN";
      socket.emit('runCmd', cntnt, function(data) {
            //console.log('get3dPos returned!');
            //console.log(data);
        });


      opt.appendChild( document.createTextNode(cntnt) );
      opt.value = cntnt; 
      ss.insertBefore(opt,ss.childNodes[0]); 

      txt.value="";


    }

    function logSelect(index){
      var sel = document.getElementById("sm1")
      txt = document.getElementById("txtGcode");
      txt.value = sel.options[index].text;
    }

</script>




</head>
  <body>
      <button onclick="getSerialPorts()">Refresh Ports</button>
      <select id="cmbComPort" > </select>
      <select id="cmbBaud" > </select>
      <button id="btnConnect" onclick="connect_serial()">Connect</button>
      <button id="btnDisconnect" onclick="disconnect_serial()" style="display:none;">Disconnect</button>
      <button id="btnCanJog" onclick="toggleCanJog()" style="background-color: lightgray;" disabled>Jogging Off</button>
      <input type="checkbox" id="chkCanJog" style="visibility: hidden;">
      <button onclick="getCameras()">Refresh Cameras</button>
      <select id="cmbCameras" > </select>
      <button id="btnCamOn" onclick="enable_cam()">Enable Camera</button>
      <button id="btnCamOff" onclick="disable_cam()" style="display:none;">Disable Camera</button>

      <HR>
        {% block content %} {% endblock %}
  </body>
</html>