
<!doctype html>
<head>
<title>Upload new File</title>
<!-- - ->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!- -   -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- - ->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!- -  -->

<!-- - ->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<!- -  -->
<script src="{{ url_for('static', filename='js/socket.io-1.3.6.min.js') }}"></script>


<script type="text/javascript" charset="utf-8">
    var socket;
    var GrblState = "IDLE";  // Idle / Running
    var moveStateFine = false;

    // DEBUG true / false
    var debug = false;


    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port + '/sock');
        socket.on('connect', function() {
            socket.emit('joined', {});
            if(debug) console.log('Websocket connected!');
            getSerialPorts();
            getBaudrates();
            getCameras();
            if(debug) console.log('getting moves');
            getCncMoves();
            setInterval(mustPollPosition, 500);
            registerKeyDown();
            getUsedPort();

        });
        socket.on('grblResponse', function(data) {
          if(debug) console.log("grblResponse said : " + data);
        });

        socket.on('position', function(data) {
          if(debug) console.log("position returnedc ....");
          if(debug) console.log(data);
          if(debug) console.log('base.html : socket.position : data =' + JSON.parse(data));
          //console.log('base.html : socket.position : grblState =' + JSON.parse(data).grblState);
          switch(JSON.parse(data).grblState){
            case "Idle":
              GrblState = "IDLE";
              break;
            case "Run":
              GrblState = "RUN";
              break;
            case "Jog":
              GrblState = "JOG";
              break;
            case "TIMEOUT":
              GrblState = "TIMEOUT";
              $('#txtSerialMonitor').append( '\n> : SERIAL SEND CMD TIMEOUT ');
              break;
            default:
              GrblState = "EXCEPTION";
              $('#txtSerialMonitor').append( '\n> : EXCEPTION ' + data);
              break;
          }
          if(GrblState != "TIMEOUT" && GrblState != "EXCEPTION"){
            if(debug) console.log(GrblState);
          document.getElementById("xpos").innerHTML = JSON.parse(data).X.toFixed(3);
          document.getElementById("ypos").innerHTML = JSON.parse(data).Y.toFixed(3);
          document.getElementById("zpos").innerHTML = JSON.parse(data).Z.toFixed(3);
          }
        });
    });

    function registerKeyDown(){
      document.addEventListener('keydown', jog);
      if(debug) console.log("registered key Down")
    }


    function f2Toggle(){
      spnArrowNormal = document.getElementById('spnArrowNormal');
      spnArrowFine = document.getElementById('spnArrowFine');
      spnShiftNormal = document.getElementById('spnShiftNormal');
      spnShiftFine = document.getElementById('spnShiftFine');
      spnArrowNormal.style.textAlign = 'right';
      spnShiftNormal.style.textAlign = 'right';
      
      
        if(moveStateFine){
          moveStateFine = false;
          
          lbl = "Coarse";
          spnArrowNormal.style.display = 'block';
          spnArrowFine.style.display = 'none';
          spnShiftNormal.style.display = 'block';
          spnShiftFine.style.display = 'none';
        } else {
          moveStateFine = true; 
          lbl = "Fine";
          spnArrowNormal.style.display = 'none';
          spnArrowFine.style.display = 'block';
          spnShiftNormal.style.display = 'none';
          spnShiftFine.style.display = 'block';
        }
      document.getElementById("moveState").innerHTML = lbl;
    }


    function jog(e) {
      if(debug) console.log("in jog")
      if(debug) console.log("e.code = " + e.code);
      if(debug) console.log("e.shiftKey = " + e.shiftKey);
      if(debug) console.log("e.ctrlKey = " + e.ctrlKey);

      if(e.code == "F2"){
        if(debug) console.log("running f2Toggle()");
          f2Toggle();
      }
      
      var checkBox = document.getElementById("chkCanJog");
      if(checkBox.checked){
          switch(e.code){
            case "PageUp":
            case "PageDown":
            case "ArrowLeft":
            case "ArrowRight":
            case "ArrowUp":
            case "ArrowDown":
              // activate getPos
              GrblState = "JOG";
              if(debug) console.log("jogging code " + e.code + " shift " + e.shiftKey + " state " + moveStateFine);
              socket.emit('jog', e.code, e.shiftKey, moveStateFine, function(data){
                if(debug) console.log('jog returned!');
                if(debug) console.log(data);
              });
              break;
          }
          return false;
      }
    }
    

    function update_pos() {
        socket.emit('get3dPos', {}, function(data) {

          if(debug) console.log('get3dPos returned!');
          if(debug) console.log(data);
        });
    }
    
    function selectHoleA(){
      var xVal = document.getElementById("xpos").innerHTML;
      var yVal = document.getElementById("ypos").innerHTML;
      var zVal = document.getElementById("zpos").innerHTML;
      socket.emit('selectHoleA', xVal, yVal, zVal, function(data){
        if(debug) console.log('selectingHole');

      });

    }

    function connect_serial() {
        var dropdown = document.getElementById("cmbComPort");
        var selectedPort = dropdown.options[dropdown.selectedIndex].value;
        var dropdownBaud = document.getElementById("cmbBaud");
        var baud = dropdownBaud.options[dropdownBaud.selectedIndex].value;
        if(debug) console.log('D='+selectedPort);
        if ( dropdown.selectedIndex != 0 ) {
            socket.emit('openSerial', selectedPort ,baud, function(data) {
              if(debug) console.log('Serial status:');
              if(debug) console.log(data);
                if (data == true) {
                    if(debug) console.log("Change button to disconnect");
                    document.getElementById("btnDisconnect").style.display = "inline";
                    document.getElementById("btnConnect").style.display = "none";
                    if(debug) console.log("enable canJog");
                    if(debug) document.getElementById("canJog").disabled = false;
                    document.getElementById("cmbComPort").disabled=true;
                    document.getElementById("cmbBaud").disabled=true;
                    document.getElementById("btnCanJog").disabled=false;
                    document.getElementById("btnCanJog").innerText="Enable Jogging";
                    socket.emit('get3dPos', {}, function(data) {
                      if(debug) console.log('in Connect Serial : emmitted get3dPos returned!');
                      if(debug) console.log('data = ' + data);
                    });
                }
            });
          }
        }

    function toggleCanJog(setter){
      if(debug) console.log("in toggle");
      btn = document.getElementById("btnCanJog");
      chk = document.getElementById("chkCanJog");
      
      if(btn.innerText == "Enable Jogging" ){
        // enable
        btn.style.backgroundColor = "lightgreen";
        btn.innerText="Disable Jogging";
        chk.checked=true;
      } else {
        btn.style.backgroundColor = "lightgray";
        btn.innerText = "Enable Jogging";
        chk.checked=false;
      }
    }

    function disconnect_serial() {
        socket.emit('closeSerial', function(data) {
          if(debug) console.log('Serial status:');
          if(debug) console.log(data);
            if (data == true) {
              if(debug) console.log("Change button to disconnect");
                document.getElementById("btnConnect").style.display = "inline";
                document.getElementById("btnDisconnect").style.display = "none";
                if(debug) console.log("disable canJog");
                toggleCanJog(0)
                document.getElementById("btnCanJog").disabled = true;
                document.getElementById("btnCanJog").innerText = "Serial Needed";
                document.getElementById("cmbComPort").disabled=false;
                document.getElementById("cmbBaud").disabled=false;
                disableJog();
            }
        });
    }
        
    function getUsedPort() {
      socket.emit('getUsedPorts', function (data){
        if(debug) console.log('getUsed');
        if(debug) console.log("Data=" + data);
        if(debug) console.log("json = " + JSON.parse(data));
        if(debug) console.log(port = JSON.parse(data).port);
          
        var tmp = JSON.parse(data).port;
          
          if( tmp != "None") {
            drp = document.getElementById("cmbComPort");
            for( var t = 0; t < drp.options.length; t++){
              if(debug) console.log("This option = " + drp.options[t].innerText)
              if (drp.options[t].innerText == tmp){
                drp.selectedIndex = t;
                break;
              }
            }
          }

          var baud = JSON.parse(data).baud;
          if(debug) console.log("baud = " + baud);
          if( baud != "None") {
            drb = document.getElementById("cmbBaud");
            if(debug) console.log("cmbBaud = " + cmbBaud.options.length);
            for( var t = 0; t < drb.options.length; t++){
              if(debug) console.log("This option = " + drb.options[t].innerText)
              if (drb.options[t].innerText == baud){
                drb.selectedIndex = t;
                break;
              }
            }
          }

      });
    }

    function getCncMoves() {
      socket.emit('getCncMoves', function(data) {
        if(debug) console.log('getCncMove:');
        if(debug) console.log('Data=' + data);
        document.getElementById('spnArrowNormal').innerHTML = data['coarse'] + ' mm';
        document.getElementById('spnArrowFine').innerHTML = data['normal'] + ' mm';
        document.getElementById('spnShiftNormal').innerHTML = data['normal'] + ' mm';
        document.getElementById('spnShiftFine').innerHTML = data['fine'] + ' mm';

        document.getElementById('spnArrowNormal').style.textAlign = 'right';
        document.getElementById('spnArrowFine').style.textAlign = 'right';
        document.getElementById('spnShiftNormal').style.textAlign = 'right';
        document.getElementById('spnShiftFine').style.textAlign = 'right';



      });
    }
    
    function getSerialPorts() {
        socket.emit('getSerialPorts', function(data) {
          if(debug) console.log('getSerialPorts:');
          if(debug) console.log('Data='+data);

            dropdown = $('#cmbComPort');
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose serial port</option>');
            dropdown.prop('selectedIndex', 0);
            for (i in data) {
              if(debug) console.log('DataA='+data[i]);
              dropdown.append($('<option></option>').attr('value', data[i]).text(data[i]));
            }
        });
      }

    function getBaudrates() {
      if(debug) console.log('getBaudrates:');
      dropdown = $('#cmbBaud');
      dropdown.empty();
      dropdown.append($('<option></option>').attr('value', 250000).text(250000));
      dropdown.append($('<option></option>').attr('value', 115200).text(115200));
      dropdown.append($('<option></option>').attr('value', 57600).text(57600));
      dropdown.append($('<option></option>').attr('value', 38400).text(38400));
      dropdown.append($('<option></option>').attr('value', 9600).text(9600));
    }

    function mustPollPosition() {
      if(debug) console.log('check mustPollPosition');
      var checkBox = document.getElementById("chkCanJog");
      if(debug) console.log("mustPollPosition  = " + checkBox.checked + " Grblstate = " + GrblState)
      if ((checkBox.checked == true && GrblState == "JOG") || GrblState == "RUN" ){
        if(debug) console.log("mustPollPosition  = " + checkBox.checked + " Grblstate = " + GrblState)
        if(debug) console.log("moving getting pos")
          socket.emit('get3dPos', {}, function(data) {
            if(debug) console.log('mustPollPosition : emmitted get3dPos returned!');
            if(debug) console.log('data = ' + data);
          });
      }
      else {
        GrblState = "Idle";
      }

    }
  
    function getCameras() {
      if(debug) console.log('getCameras called');
      var elem = document.getElementById("camfeed");
      if (elem != null) {
          disable_cam();
      }
      socket.emit('getCameras', function(data) {
        if(debug) console.log('getCameras:');
        if(debug) console.log('Data='+data);

          dropdown = $('#cmbCameras');
          dropdown.empty();
          dropdown.append('<option selected="true" disabled>Choose Camera</option>');
          dropdown.prop('selectedIndex', 0);
          for (i in data) {
            if(debug) console.log('DataC='+data[i]);
            dropdown.append($('<option></option>').attr('value', data[i]).text(data[i]));
          }
      });
    }
    

    function enable_cam() {
      if(debug) console.log('enable_cam() called');
      var p = document.getElementById('camdiv');
      var newElement = document.createElement('img');
      newElement.setAttribute('id', 'camfeed');
      newElement.setAttribute('src', "{{ url_for('main.video_feed') }}");
      newElement.setAttribute('width', "320");
      newElement.setAttribute('height', "240");
      p.appendChild(newElement);  
      document.getElementById("btnCamOff").style.display = "inline";
      document.getElementById("btnCamOn").style.display = "none";
      var dropdown = document.getElementById("cmbCameras");
      var selectedCam = dropdown.options[dropdown.selectedIndex].value;
      if ( dropdown.selectedIndex != 0 ) {
            socket.emit('openCamera', selectedCam, function(data) {
              if(debug) console.log('Camera opened:');
              if(debug) console.log(data);
                if (data == true) {
                  if(debug) console.log("Change button to disconnect");
                }
            });
          }
    }
    
    function disable_cam() {
      if(debug) console.log('disable_cam() called');
      var elem = document.getElementById("camfeed");
      if (elem != null) {
          elem.remove();
      }
      document.getElementById("btnCamOn").style.display = "inline";
      document.getElementById("btnCamOff").style.display = "none";
      socket.emit('closeCamera', function(data) {
        if(debug) console.log('closeCamera:');
        if(debug) console.log('Data='+data);
      });
    }
    
    function sendCmd(cmd){
      if(debug) console.log("in sendCmd => " + cmd);
      GrblState = "RUN";
      socket.emit('runCmd', cmd, function(command, data) {
        $('#txtSerialMonitor').append( '\n> : ' + command);
        switch(command){
          case '$$':
          if(debug) console.log(data)
              socket.emit('grblTranslateSettings', data, function(response) {
                if(debug) console.log("data back from grblTranslateSettings")
                
                lines = response.split('\n');
                lines.forEach(function(line) {
                  $('#txtSerialMonitor').append( '\n< ' + line);
                });
              });
            break;
          case '$#':
            
          lines = data.split('\n');
          lines.forEach(function(line) {
          if(line != ""){
            var num = line.substring(1,4);
            if(debug) console.log(num);
            socket.emit('getDollarHashMeanings', num, function (suffix) {
              $('#txtSerialMonitor').append( '\n< ' + (line + "                 ").substring(0,27) + " " + suffix);
              });
            }
          });
            break;
          case "$G": 
            $('#txtSerialMonitor').append( '\n< : ' + data);

            var tmp = data.substring(4);
            tmp = tmp.replace("]", "").trim();
            parts = tmp.split(" ");
            parts.forEach(function (code) {
              socket.emit('getDollarGMeanings', code, function (meaning) {
                $('#txtSerialMonitor').append( '\n< : ' + code + " : " + meaning);
              });
            });
            break; 
          default:
          lines = data.split('\n');
            lines.forEach(function(line) {
              $('#txtSerialMonitor').append( '\n< : ' + line);
            });
            break;
        }
      });
    }

    // add Option adds Command text to Select below 

    function addOption() {
      var ss = document.getElementById("sm1");
      var opt = document.createElement('option');
      var txt = document.getElementById("txtGcode")
      var cntnt = txt.value;

      sendCmd(cntnt);

      var ins = true;
      for (var i = 0; i < ss.options.length; i++){
        if(debug) console.log(ss.options[i]);
        if(ss.options[i].text == cntnt){
          ins = false;
          break;
        }
      }
      if(ins){
        opt.appendChild( document.createTextNode(cntnt) );
        opt.value = cntnt; 
        ss.insertBefore(opt,ss.childNodes[0]); 

        txt.value="";
      }

    }

    function logSelect(index){
      var sel = document.getElementById("sm1")
      txt = document.getElementById("txtGcode");
      txt.value = sel.options[index].text;
    }


    function geth1Coords() {
        console.log("Cap 1 clicked");
        // document.getElementById("xpos").innerHTML
        if(debug) console.log("pos x text = " + $('xpos').text);
        if(debug) console.log("pos x value = " + $('xpos').value);
        if(debug) console.log("pos x innerHTML= " + $('xpos').innerHTML);
        
        
        document.getElementById("h1X").innerHTML =  document.getElementById("xpos").innerHTML
        document.getElementById("h1Y").innerHTML = document.getElementById("ypos").innerHTML;
    }

    function geth2Coords() {
      if(debug) console.log("cap 2 Clicked");
      
      document.getElementById("h2X").innerHTML =  document.getElementById("xpos").innerHTML
      document.getElementById("h2Y").innerHTML = document.getElementById("ypos").innerHTML;
 
    }

    function setZHeight() {
      document.getElementById("zHeight").innerHTML = document.getElementById("zpos").innerHTML;

    }

    function runProcess() {
      h1X = document.getElementById('h1X').innerHTML;
      h1Y = document.getElementById('h1Y').innerHTML;
      h2X = document.getElementById('h2X').innerHTML;
      h2Y = document.getElementById('h2Y').innerHTML;
      jobContext = document.getElementById('jobContext').value;
      console.log("jobContext = " + jobContext )

      // testing 
      h1X = "100.234";
      h1Y = "8.234";
      h2X = "160.234";
      h2Y = "80.543";

        socket.emit('runProcess', h1X, h1Y, h2X, h2Y ,  function(response){
        console.log('run Process (events.py returned : ' + response);
      });

    }
</script>




</head>
  <body>
      <button onclick="getSerialPorts()">Refresh Ports</button>
      <select id="cmbComPort" > </select>
      <select id="cmbBaud" > </select>
      <button id="btnConnect" onclick="connect_serial()">Connect</button>
      <button id="btnDisconnect" onclick="disconnect_serial()" style="display:none;">Disconnect</button>
    <!-- - ->
       <button id="btnCanJog" onclick="toggleCanJog()" style="background-color: lightgray;" disabled>Jogging Off</button>
      <input type="checkbox" id="chkCanJog" style="visibility: hidden;">
    <!- - -->
      <button onclick="getCameras()">Refresh Cameras</button>
      <select id="cmbCameras" > </select>
      <button id="btnCamOn" onclick="enable_cam()">Enable Camera</button>
      <button id="btnCamOff" onclick="disable_cam()" style="display:none;">Disable Camera</button>

      <HR>
        {% block content %} {% endblock %}
  </body>
</html>