
<!doctype html>
<head>
<title>Upload new File</title>
<!-- - ->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!- -   -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- - ->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!- -  -->

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>


<script type="text/javascript" charset="utf-8">
    var socket;
    var GrblState = "IDLE";  // Idle / Running
    

    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port + '/sock');
        socket.on('connect', function() {
            socket.emit('joined', {});
            console.log('Websocket connected!');
            getSerialPorts();
            getBaudrates();
            getCameras();
            setInterval(mustPollPosition, 500);
            registerKeyDown();
        });
        socket.on('position', function(data) {
            //console.log('Data='+data);
            //console.log('grblState =' + JSON.parse(data).grblState);

            switch(JSON.parse(data).grblState){
              case "Idle":
                GrblState = "IDLE";
                break;
              case "Run":
                GrblState = "RUN";
                break;
              case "Jog":
                GrblState = "JOG";
            }
            //console.log(GrblState);
            document.getElementById("xpos").innerHTML = JSON.parse(data).X.toFixed(3);
            document.getElementById("ypos").innerHTML = JSON.parse(data).Y.toFixed(3);
            document.getElementById("zpos").innerHTML = JSON.parse(data).Z.toFixed(3);
        });
    });

    function registerKeyDown(){
      document.addEventListener('keydown', jog);
      console.log("registered key Down")
    }


    function jog(e) {

      var checkBox = document.getElementById("canJog");
      if(checkBox.checked){
        //log.innerHTML = `Shift: ${e.shiftKey} </br> Alt: ${e.altKey} </br> code : ${e.code}`;

        // filter out non arrow keys
        switch(e.code){
          case "ArrowLeft":
          case "ArrowRight":
          case "ArrowUp":
          case "ArrowDown":
            // activate getPos
            GrblState = "JOG";
            socket.emit('jog', e.code, e.shiftKey, function(data){
              //console.log('jog returned!');
              //console.log(data);
            });
            break;
        }
        return false;
      }
    }

    function update_pos() {
        socket.emit('get3dPos', {}, function(data) {
            //console.log('get3dPos returned!');
            //console.log(data);
        });
    }
    
    function connect_serial() {
        var dropdown = document.getElementById("cmbComPort");
        var selectedPort = dropdown.options[dropdown.selectedIndex].value;
        var dropdownBaud = document.getElementById("cmbBaud");
        var baud = dropdownBaud.options[dropdownBaud.selectedIndex].value;
        console.log('D='+selectedPort);
        if ( dropdown.selectedIndex != 0 ) {
            socket.emit('openSerial', selectedPort ,baud, function(data) {
                console.log('Serial status:');
                console.log(data);
                if (data == true) {
                    console.log("Change button to disconnect");
                    document.getElementById("btnDisconnect").style.display = "inline";
                    document.getElementById("btnConnect").style.display = "none";
                    update_pos();
                }
            });
          }
        }
        
    function disconnect_serial() {
        socket.emit('closeSerial', function(data) {
            console.log('Serial status:');
            console.log(data);
            if (data == true) {
                console.log("Change button to disconnect");
                document.getElementById("btnConnect").style.display = "inline";
                document.getElementById("btnDisconnect").style.display = "none";
            }
        });
    }
        
    function getSerialPorts() {
        socket.emit('getSerialPorts', function(data) {
            console.log('getSerialPorts:');
            console.log('Data='+data);

            dropdown = $('#cmbComPort');
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Choose serial port</option>');
            dropdown.prop('selectedIndex', 0);
            for (i in data) {
              console.log('DataA='+data[i]);
              dropdown.append($('<option></option>').attr('value', data[i]).text(data[i]));
            }
        });
      }

    function getBaudrates() {
      console.log('getBaudrates:');
      dropdown = $('#cmbBaud');
      dropdown.empty();
      dropdown.prop('selectedIndex', 1);
      dropdown.append($('<option></option>').attr('value', 250000).text(250000));
      dropdown.append($('<option selected="true"></option>').attr('value', 115200).text(115200));
      dropdown.append($('<option></option>').attr('value', 57600).text(57600));
      dropdown.append($('<option></option>').attr('value', 38400).text(38400));
      dropdown.append($('<option></option>').attr('value', 9600).text(9600));
    }

    function mustPollPosition() {
      //console.log('check mustPollPosition');
      var checkBox = document.getElementById("canJog");
      //console.log("mustPoll = " + checkBox.checked + " Grblstate = " + GrblState)
      if ((checkBox.checked == true && GrblState == "JOG") || GrblState == "RUN" ){
          //console.log("moving getting pos")
          update_pos();
      }
    }
  
    function getCameras() {
      console.log('getCameras called');
      var elem = document.getElementById("camfeed");
      if (elem != null) {
          disable_cam();
      }
      socket.emit('getCameras', function(data) {
          console.log('getCameras:');
          console.log('Data='+data);

          dropdown = $('#cmbCameras');
          dropdown.empty();
          dropdown.append('<option selected="true" disabled>Choose Camera</option>');
          dropdown.prop('selectedIndex', 0);
          for (i in data) {
            console.log('DataC='+data[i]);
            dropdown.append($('<option></option>').attr('value', data[i]).text(data[i]));
          }
      });
    }
    

    function enable_cam() {
      console.log('enable_cam() called');
      var p = document.getElementById('camdiv');
      var newElement = document.createElement('img');
      newElement.setAttribute('id', 'camfeed');
      newElement.setAttribute('src', "{{ url_for('main.video_feed') }}");
      newElement.setAttribute('width', "320");
      newElement.setAttribute('height', "240");
      p.appendChild(newElement);  
      document.getElementById("btnCamOff").style.display = "inline";
      document.getElementById("btnCamOn").style.display = "none";
      var dropdown = document.getElementById("cmbCameras");
      var selectedCam = dropdown.options[dropdown.selectedIndex].value;
      if ( dropdown.selectedIndex != 0 ) {
            socket.emit('openCamera', selectedCam, function(data) {
                console.log('Camera opened:');
                console.log(data);
                if (data == true) {
                    console.log("Change button to disconnect");
                }
            });
          }
    }
    
    function disable_cam() {
      console.log('disable_cam() called');
      var elem = document.getElementById("camfeed");
      if (elem != null) {
          elem.remove();
      }
      document.getElementById("btnCamOn").style.display = "inline";
      document.getElementById("btnCamOff").style.display = "none";
      socket.emit('closeCamera', function(data) {
          console.log('closeCamera:');
          console.log('Data='+data);
      });
    }


    // add Option adds Command text to Select below 

    function addOption() {
      var ss = document.getElementById("sm1");
      var opt = document.createElement('option');
      var txt = document.getElementById("txtGcode")
      var cntnt = txt.value;
      GrblState = "RUN";
      socket.emit('runCmd', cntnt, function(data) {
            //console.log('get3dPos returned!');
            //console.log(data);
        });


      opt.appendChild( document.createTextNode(cntnt) );
      opt.value = cntnt; 
      ss.insertBefore(opt,ss.childNodes[0]); 

      txt.value="";


    }

    function logSelect(index){
      var sel = document.getElementById("sm1")
      txt = document.getElementById("txtGcode");
      txt.value = sel.options[index].text;
    }

</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
  $(function() {
    console.log("being defined")
    $('a#test').bind('click', function() {
     $.get( "/getSerialPorts", function(data) {
        alert( data);
        $('#lbl').text(data);
      })
      .fail(function() {
        alert( "error" );
      });
    });
    console.log("defining cmdChanged")

    $('#cmbSelectComPort').bind('change', function() {
      console.log("in cmbChanged");
      var selObject = document.getElementById('cmbSelectComPort'); 
      var x = selObject.selectedIndex;
      var y = selObject.options;

      document.getElementById('OpenPortDiv').style.visibility= "visible";
      document.getElementById('lblOpenClose').innerText =  y[x].text;
      document.getElementById('portSelectionDiv').style.visibility = "hidden";

      //alert(x);
      //alert(y);

      //alert("Index: " + y[x].index + " is " + y[x].text);

    });

    $('#btnPortOpenClose').bind('click', function() {
      alert("open was clicked")
      var thisPort = document.getElementById('lblOpenClose').innerText
      thisPort = thisPort.replace("/dev/","~dev~")
      var baud = document.getElementById('txtBaudRate').value
      $.get( "/open_port/" + thisPort + "/" + baud , function() {
        //nothing
      })
      .fail(function() {
        alert( "error" );
      });
    });

});

</script>


</head>
  <body>
      <button onclick="getSerialPorts()">Refresh Ports</button>
      <select id="cmbComPort" > </select>
      <select id="cmbBaud" > </select>
      <button id="btnConnect" onclick="connect_serial()">Connect</button>
      <button id="btnDisconnect" onclick="disconnect_serial()" style="display:none;">Disconnect</button>
      <label for="canJog" style="font:small-caption">Allow Jog:</label><input type="checkbox" id="canJog">
      <button onclick="getCameras()">Refresh Cameras</button>
      <select id="cmbCameras" > </select>
      <button id="btnCamOn" onclick="enable_cam()">Enable Camera</button>
      <button id="btnCamOff" onclick="disable_cam()" style="display:none;">Disable Camera</button>
      <button onclick="update_pos()">Update Position</button>
      <button onclick="emitHello()">To Server</button>

      <HR>
        {% block content %} {% endblock %}
  </body>
</html>